body{
    background-color: white;
}
.header{
    display: flex;
    background-color: black;
    justify-content: space-between;
   
    
}
img{
    
height: 70px;
width: auto;
}
.headertext{
    color: white;
   display: flex;
   justify-content: space-between;
   font-size: smaller;
   
}
