body{
    background-color: white;
}
.header{
    display: flex;
    background-color: black;
    justify-content: space-between;
}
img{
    
height: 70px;
width: auto;
}
.headertext{
    color: white;
   display: flex;
   justify-content: space-between;
   font-size: smaller;
}





.dedicate{
    font-size: 48px;
    font-weight: bolder;
}
.secondsection{
    display: flex;
    background: black;
    color: white;
}
    .group{
        height: 100px;
        width: auto;
        grid-column: 2;
        
    }
    button{
      height: 45px;
      width: auto;
      
    }
    button{
        grid-column: 1;
    }

    
}


